doctype
html
	head
		script(src='https://code.highcharts.com/stock/highstock.js')
		script(src='https://code.highcharts.com/stock/modules/exporting.js')
		script(src='https://code.highcharts.com/stock/modules/export-data.js')
	body
		img(src='./assets/kainos-logo-sticky.png')
		h2 CoinTrends - Challenge 2018
		h3 Made by Rafal Walas
		
		#chart

		// script(src='index.js')
		script(src='index2.js')
